*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    text-decoration: none;
    list-style: none;
}
label.logo{
    font-size: 35px;
    font-weight: 500;
    padding-left: 60px;
    color: aliceblue;
    line-height: 80px;
}nav{
    height: 80px;
    width:100%;
    position: sticky;
    background-color: rgb(4, 70, 96);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    
}
nav a{
    color: azure;
    font-size: larger;
}
a:hover{
    border:12px solid transparent;
    border-radius: 10px;
    background-color: white;
    color: black;
}
nav .menu{
    font-size: larger;
    line-height: 80px;
    color: antiquewhite;
    float: right;
    margin-right: 40px;
    display: none;
    margin-right: 5px;
    cursor:pointer;
}
.form {
    text-align: center;
    padding-top:40px ;
    background-color: rgb(242, 246, 248);
    border-radius: 10px;
    /* box-shadow: 15px black; */
    border:4px solid rgb(25, 24, 24); 
    height: 30pc;
    width:60pc;
    margin-top: 60px;
   margin-left: 16pc;
}

.form-element label{
    font-size: medium;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(58 16 19);
    display:inline-block ;
    text-align: left;
     width: 150px;
    margin-left:100px; 

}
  .form-element input{
    padding: 15px 15px 7px;
    background:rgb(232, 225, 225);
   border: 2px;
   border-color: rgb(143, 56, 183);
     border-radius: 10px;
     outline-width: 8px ;
    outline-color: rgb(11, 0, 0);
    height: 30px;
    width: 400px;

  }
  ::placeholder{
    
    color:rgb(86, 37, 37);
    font-size: medium;
    letter-spacing: 0.05em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
 #butn button{
    margin-left: 11pc;
    margin-top: 3pc;
    padding: 6px;
    color: rgb(237,240,239);
    background:linear-gradient(rgb(7,91,97),rgb(74,205,215));
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size:medium;
    text-transform: uppercase;
    border: 3px solid rgb(27, 6, 6);
    border-radius: 10px; 
    box-shadow: 0 5px 5px 0 black;
     margin-bottom: 40px;
     height: 50px;
     width: 120px;
}

    

span{
    color: blue;
}
span:hover{
    cursor: pointer;
    color: red;
}
.signin {
    margin-right: 14pc;
   margin-bottom: 30px ;


}

